<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebsiteBanHang</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    
  </welcome-file-list>
   <servlet>
   <servlet-name>category</servlet-name>
   <servlet-class>controllers.CategoryController</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>category</servlet-name>
   <url-pattern>/category</url-pattern>
   </servlet-mapping>
     <servlet>
   <servlet-name>home</servlet-name>
   <servlet-class>controllers.HomeController</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>home</servlet-name>
   <url-pattern>/home</url-pattern>
   </servlet-mapping>
    <servlet>
   <servlet-name>deleteOrder</servlet-name>
   <servlet-class>controllers.Admin.AdminDeleteOrder</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>deleteOrder</servlet-name>
   <url-pattern>/admindeleteorder</url-pattern>
   </servlet-mapping>
   <servlet>
   <servlet-name>getlistorder</servlet-name>
   <servlet-class>controllers.Admin.AdminGetListOrder</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>getlistorder</servlet-name>
   <url-pattern>/admin/listorder</url-pattern>
   </servlet-mapping>
    <servlet>
   <servlet-name>adminlogin</servlet-name>
   <servlet-class>controllers.Admin.AdminLoginController</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>adminlogin</servlet-name>
   <url-pattern>/admin</url-pattern>
   </servlet-mapping>
   <servlet>
   <servlet-name>adminlogout</servlet-name>
   <servlet-class>controllers.Admin.AdminLogoutController</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>adminlogout</servlet-name>
   <url-pattern>/adminlogout</url-pattern>
   </servlet-mapping>
      <servlet>
   <servlet-name>listCategory</servlet-name>
   <servlet-class>controllers.Admin.AdminGetCategory</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>listCategory</servlet-name>
   <url-pattern>/listcategory</url-pattern>
   </servlet-mapping>
      <servlet>
   <servlet-name>addcategory</servlet-name>
   <servlet-class>controllers.Admin.AdminAddCategory</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>addcategory</servlet-name>
   <url-pattern>/addcategory</url-pattern>
   </servlet-mapping>
   <servlet>
   <servlet-name>deletecategory</servlet-name>
   <servlet-class>controllers.Admin.AdminDeleteCategory</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>deletecategory</servlet-name>
   <url-pattern>/deletecategory</url-pattern>
   </servlet-mapping>
     <servlet>
   <servlet-name>editcategory</servlet-name>
   <servlet-class>controllers.Admin.AdminEditCategory</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>editcategory</servlet-name>
   <url-pattern>/editcategory</url-pattern>
   </servlet-mapping>
   <servlet>
   <servlet-name>listProduct</servlet-name>
   <servlet-class>controllers.Admin.AdminGetListProduct</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>listProduct</servlet-name>
   <url-pattern>/listproduct</url-pattern>
   </servlet-mapping>
      <servlet>
   <servlet-name>editProduct</servlet-name>
   <servlet-class>controllers.Admin.AdminEditProduct</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>editProduct</servlet-name>
   <url-pattern>/editproduct</url-pattern>
   </servlet-mapping>
    <servlet>
   <servlet-name>addproduct</servlet-name>
   <servlet-class>controllers.Admin.AdminAddProduct</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>addproduct</servlet-name>
   <url-pattern>/addproduct</url-pattern>
   </servlet-mapping>
   <servlet>
   <servlet-name>deleteproduct</servlet-name>
   <servlet-class>controllers.Admin.AdminDeleteProduct</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>deleteproduct</servlet-name>
   <url-pattern>/deleteproduct</url-pattern>
   </servlet-mapping>
</web-app>